.headerWrapper {
  margin-bottom: 1.5em;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #1a1a1a;
}

.buttons {
  display: flex;
  gap: 12px;
}

.link:hover {
  background: aquamarine;
}