.container {
  position: relative;
  display: inline-block;
}

.filterButton {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.95rem;
  font-weight: 600;
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}


.createButton:active {
  transform: translateY(0);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 80%;
  max-height: 80vh;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border-bottom: 1px solid #e5e7eb;
  background: #EDEDED;
}

.modalHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;
  padding: 4px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: #f3f4f6;
  color: #374151;
}

.modalContent {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(80vh - 80px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "field1 field2"
    "field3 field4";
  gap: 30px;
  align-content: start;
}

.filterSection {
  margin-bottom: 24px;
}

.sectionTitle {
  font-size: 0.95rem;;
  font-weight: 600;
  margin: 0 0 12px 0;
  color: #374151;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterOption {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  cursor: pointer;
  font-size: 0.95rem;
  color: #4b5563;
}

.filterOption:hover {
  color: #1f2937;
}

.filterOption input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
    max-width: 80%;
    max-height: 100vh;
    border-radius: 0;
    margin: 0;
  }

  .modalContent {
    max-height: calc(100vh - 80px);
  }
}
