.footer {
  margin-top: 1em;
  border-top: 1px solid rgba(0,0,0,0.05);
  padding: 1em 0;
  background: transparent;
  color: #9a9a9a;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  font-size: .8rem;
}
